<a href="https://colab.research.google.com/github/Void-Brain70/Deep_Learning/blob/main/Matrix_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

matrix subtraction

In [2]:
import numpy as np

In [3]:
revenue = np.array([[180,200,220],[24,36,40],[12,18,20]])
expenses = np.array([[80,90,100],[10,16,20],[8,10,10]])

In [4]:
profit = revenue - expenses
profit

array([[100, 110, 120],
       [ 14,  20,  20],
       [  4,   8,  10]])

matrix multiplication

In [6]:
price_per_unit = np.array([1000,400,1200])
units = np.array([[30,40,50],[5,10,15],[2,5,7]])

In [7]:
price_per_unit*units

array([[30000, 16000, 60000],
       [ 5000,  4000, 18000],
       [ 2000,  2000,  8400]])

dot matrix multiplication

In [8]:
np.dot(price_per_unit,units)

array([34400, 50000, 64400])

Exercise

In [9]:
import numpy as np

Convert USD revenues to INR

In [10]:
usd = np.array([[200,220,250],[68,79,105],[110,140,180],[80,85,90]])
inr = 75*usd
inr

array([[15000, 16500, 18750],
       [ 5100,  5925,  7875],
       [ 8250, 10500, 13500],
       [ 6000,  6375,  6750]])

Calculate total flowers sale every month for divine flowers shop

In [11]:
units_sold = np.array([[50,60,25],[10,13,5],[40,70,52]])
price_per_unit = np.array([20,30,15])

In [12]:
total_sales_amount = np.dot(price_per_unit,units_sold)
total_sales_amount

array([1900, 2640, 1430])